$_lighterGreen: #A6CE3A;
$_lightGreen: #9EC335;
$_darkerGreen: #4D6914;
$_lightGrey: #E2E1F1;
$_lighterGrey: #ECEBFB;
@import "override";
@import "../bower_components/foundation/scss/foundation";
/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: $_lightGreen;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #FFFFFF;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid $_darkerGreen;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #fff;
  background-image: url('../images/home_picture.jpg');
  background-size: cover;
  overflow: hidden;
  color: $_lightGreen;
}

body {
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
  box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}

.dialog, .reveal-modal {
  color: #ffffff;
  > h1, h2, h3, h4, h5, h6 {
    color: #ffffff;
  }
}
