$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';

$_lighterGreen: #A6CE3A;
$_lightGreen: #9EC335;
$_darkerGreen: #4D6914;
$_lightGrey: #E2E1F1;
$_lighterGrey: #ECEBFB;



/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: $_lightGreen;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid $_darkerGreen;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #fff;
  background-image: url('../images/home_picture.jpg');
  background-size: cover;
  overlay: hidden;
}

body {
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
  box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
  border-radius: 1000px;
  background-color: rgba(43, 51, 23, 0.35);
  color: #fff;
  padding: 10px;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}


/*
 * Cover
 */

.cover {
  padding: 0 20px;
}

.cover-heading{
	color: $_lighterGreen;
}

.cover-text{
	color: $_lightGrey;
}

.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}

/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 700px;
  }
}