<div id="main-modal" class="reveal-modal" data-reveal style=" visibility: visible; display: block; " ng-controller="MainCtrl">
	<h1>{{ 'Ecomova' | translate }}</h1>
    <p class="lead cover-text">{{ 'RegisterYourEmail' | translate }}</p>
    <form ng-submit="submitEmail()">
        <div class="row collapse ">
            <div class="small-2 small-offset-2 columns centered">
                <a href="#" class="button postfix">{{ 'Send' | translate }}</a>
            </div>
            <div class="small-5  columns end centered">
                <input type="text" placeholder="{{ 'YourEmail' | translate }}">
            </div>
        </div>
    </form>
</div>

