<div id="main-modal" class="reveal-modal" data-reveal style=" visibility: visible; display: block; ">
    <h1>Ecomova</h1>
    <p class="lead cover-text">Cadastre seu e-mail para receber mais informações</p>
    <form>
        <div class="row collapse ">
            <div class="small-2 small-offset-2 columns centered">
                <a href="#" class="button postfix">Enviar</a>
            </div>
            <div class="small-5  columns end centered">
                <input type="text" placeholder="Seu e-mail">
            </div>
        </div>
    </form>
</div>

